name: Build native addon

on:
  push:
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        node: [20]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: npm install

      - name: Build native addon
        run: npx node-gyp configure build

      - name: Upload .node artifact
        uses: actions/upload-artifact@v4
        with:
          name: regex_safe_test-${{ matrix.os }}
          path: build/Release/*.node
